// Place all the styles related to the candidate controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html { 
  background: url("../assets/whitehouse.jpg") no-repeat center center fixed; 
  background-size: cover;
}

div.panel-body{
  img{
    border-radius: 100%;
  }
}

div#d3-graphic{

}
div#loading-wrapper{
  width: 60px;
  display: block;
  margin: 0 auto;
}