<!DOCTYPE html>
<html>
<head>
  <title>PAC Attack</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="http://css-spinners.com/css/spinner/throbber.css" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Old+Standard+TT:700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <img src="/assets/FEC.png" id="logo">
      <a class="navbar-brand" href="/">PAC Attack</a>
    </div>

  </div>
</nav>


<%= yield %>

</body>
</html>
